body {
    font-family: Arial, sans-serif;
    background-color: #eef;
}

.container {
    width: 50%;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ddd;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
